/* Instellingen tussen commentaar zijn handig om fouten te helpen vinden, uncomment om aan te zetten */

/* zorg dat elke box een gestippelde rand krijgt, 
   zodat je de afmeting goed kunt zien, 
   letop 1: dit kan de layout soms kan wijzigen 
   letop 2: laat 1 sterretje voor { staan als je commentaar weghaalt */
/*  * {border: 1px dotted black;}   */
  
/* zorg dat elke box een doorzichtige donkere achtergrond krijgt, 
   hoe meer boxen in elkaar hoe donkerder de achtergrondkleur 
   letop: laat 1 sterretje voor { staan als je commentaar weghaalt */
/*  * {background-color: rgba(0,0,0,5%);}  */

/* Basisinstellingen voor alle pagina's, alleen aanpassen als je pro wilt worden */

:root{
  --BarHeight: 35px;
}


* {                                        /* geldt voor alles */
  box-sizing: border-box;                  /* zorg dat border meetelt bij de width en height van boxen */
  margin: 0px;                             /* standaard marge 0 */
}

html, body {                      /* geldt voor html en body */
  margin: 0px;                    /* standaard marge 0 */
  background-color: #00887a;    /* achtergrondkleur lichtgrijs */
  color: #000000;               /* tekstkleur donkergrijs */
}  

div {                             /* geldt voor div */
  overflow: hidden;               /* zorgt dat DIV de hoogte krijgt van wat erin zit (anders tellen de floats erin niet mee voor de hoogte en wordt dus wel eens hoogte 0) */
}

/* Indeling voor alle pagina's */

.page {
  width: 750px;                   /* vaste breedte van 700 pixels */
  margin: 10px auto;              /* boven en onder 10 pixels marge, links en rechts marge gelijk verdeeld (gecentreerd) */
}

header, footer {                  /* geldt voor header en footer */
  margin: 10px 0px;
}

main {                       
  text-align: justify;            /* tekst uitvullen */}

h1, h2, h3 {                      /* geldt voor h1 en h2 en h3 */
  margin: 10px 0px;
  text-align: center;             /* tekst centreren */
} 

p {
  margin: 0;
  text-align: justify;            /* tekst links en rechts uitvullen */
}

img {
  margin: 10px 0px;
}

/* Indeling voor hoofd pagina */

/* .item {} */ /* hier doen we nog niks mee, dat mag je zelf toevoegen */


.rounded-box {
  width: 750px;                             
  padding: 20px;                            
  border: 2px solid #333;              
  border-radius: 15px;                     
  background-color: rgba(240, 240, 240, 0.7);            
}

.item-plaatje {
  float:left;
  width: 110px;;
  padding-right: 15px; /* zorgt dat plaatje niet tegen tekst komt */
  
  
}
.item-tekst {
  font-size: 20px;
  overflow:visible;
}




/* Indeling voor sub pagina */

/* Opmaak voor alle pagina's */

h1, h2, h3 {
      color: rgb(230, 119, 85);
}

.smalltext {
    text-align: center;
    font-size: 0.7em;
}

a {
    color: rgb(64, 101, 116);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Opmaak voor sub pagina's */

/* Navigatiebalk voor alle pagina's */

.sidebar{
  float:left;
  width: 250px;
}

.sidebar ul li a {
  text-decoration: none;
  padding: 10px; /* Add padding for better spacing */
  display: block; /* Display links as blocks */
  
}

.sidebar ul li {
  display: block; /* Display list items as blocks */
}

.sidebar nav ul {
    list-style-type: none;
    margin:0;
    padding: 0;
    background-color: rgb(235,198,96);
    overflow: hidden;
    
}

.sidebar nav ul li {
    
   
   height: var(--BarHeight);
}

.sidebar nav li a {
    display: block;
    color: rgb(250,251,252);
    text-align: center;
    text-decoration: none;
    height: var(--BarHeight);

}

.sidebar nav li a:hover {
    background-color: rgb(235,118,54);

}

.sidebar nav li a.active {
    background-color: rgb(216,54,30);
}

#achtergrond{
background-image: url(afbeeldingen/sintbg.png);
background-repeat:repeat;
}

